/* alternative screen header */

.alt-header {
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alt-header__title {
  font-size: 28px;
  font-weight: 600;
}
.alt-header__column {
  display: flex;
  width: 33%; /*c*/
}
.alt-header__column:first-child {
  margin-right: auto;
}
.alt-header__column:nth-child(2) {
  text-align: center; /*c*/
}
.alt-header__column:last-child {
  margin-left: auto;
  display: flex; /*c*/
  justify-content: flex-end; /*c*/
}
.alt-header__column span:last-child {
  margin-left: 20px;
}
